In [ ]:
#lambda function is known as ananymous function
#using the varibale we can use the lambda function

In [2]:
# normal function

def fun(a,b):
    print(a*b)
    
fun(5,2)

10

In [3]:
# lambda function

c=lambda x,y:x*y
print(c(5,2))

10

In [5]:
x=lambda a,b:a+b
print(x(10,20))

30

In [7]:
# print 3 table
a=3
for i in range(1,11):
        print(a,'*',i,'=',a*i)

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [9]:
# print 10 table


a=10
for i in range(1,11):
    print(a,'*',i,'=',a*i)

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [12]:
# lambda function print 5 table

x=5
c=lambda x,y:x*y
for i in range(1,11):
    print(x,'*',i,'=',c(x,i))

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [13]:
x=15

c=lambda a,b:a*b
for i in range(1,11):
    print(x,'*',i,'=',c(x,i))

15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

In [15]:
def  fun(a,b):
    for i in range(a,b):
        if i%2==0:
            print(i,'even number')
fun(1,10)

2 even number
4 even number
6 even number
8 even number

In [16]:
def odd(x,y):
    for i in range(x,y):
        if i%2!=0:
            print(i,'odd numbers')
odd(1,10)

1 odd numbers
3 odd numbers
5 odd numbers
7 odd numbers
9 odd numbers

In [17]:
c = lambda x : x % 2 == 0


for i in range(11,21):
  if c(i) == True:
    print('even',i)
  else:
    print('odd',i)

odd 11
even 12
odd 13
even 14
odd 15
even 16
odd 17
even 18
odd 19
even 20

In [18]:
c=lambda p,q:p*q
print(c(100,2))

200

In [25]:
h=12

c=lambda a,b:a*b
for i in range(1,11):
    print(h,'*',i,'=',c(h,i))

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [2]:
C=lambda x,y:x+y
print(C(25,45))

70

In [4]:
Total=lambda x,y:x*y
print(Total(10,5))

50

In [5]:
# print 7 table
a=7
c= lambda p,q:p*q
for i in range(1,11):
    print(a,'*',i,'=',c(a,i))

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [8]:
c=lambda x:x%2==0
for i in range(1,11):
    if c(i)== True:
        print(i,'even')
    else:
        print(i,'odd')

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even

In [9]:
a=lambda y:y%2==0
for i in range(20,40):
    if c(i)== True:
        print(i,'even number')
    else:
        print(i,'odd number')

20 even number
21 odd number
22 even number
23 odd number
24 even number
25 odd number
26 even number
27 odd number
28 even number
29 odd number
30 even number
31 odd number
32 even number
33 odd number
34 even number
35 odd number
36 even number
37 odd number
38 even number
39 odd number

In [13]:
# print 9 table
s=9
c=lambda x,y:x*y
for i in range(1,11):
    print(s,'*',i,'=',c(s,i))

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [14]:
c=lambda x:x%2==0
for i in range(1,50):
    if i%2==0:
        print(i,'even numbers')

2 even numbers
4 even numbers
6 even numbers
8 even numbers
10 even numbers
12 even numbers
14 even numbers
16 even numbers
18 even numbers
20 even numbers
22 even numbers
24 even numbers
26 even numbers
28 even numbers
30 even numbers
32 even numbers
34 even numbers
36 even numbers
38 even numbers
40 even numbers
42 even numbers
44 even numbers
46 even numbers
48 even numbers

In [16]:
c=lambda x:x%2==0
for i in range(1,50):
    if i%2!=0:
        print(i,'odd numbers')

1 odd numbers
3 odd numbers
5 odd numbers
7 odd numbers
9 odd numbers
11 odd numbers
13 odd numbers
15 odd numbers
17 odd numbers
19 odd numbers
21 odd numbers
23 odd numbers
25 odd numbers
27 odd numbers
29 odd numbers
31 odd numbers
33 odd numbers
35 odd numbers
37 odd numbers
39 odd numbers
41 odd numbers
43 odd numbers
45 odd numbers
47 odd numbers
49 odd numbers

In [17]:
# map Function
a=map(lambda x:x%2==0,[1,2,3,4,5,6,7,8,9,10])
print(list(a))

[False, True, False, True, False, True, False, True, False, True]

In [18]:
b=map(lambda x:x%2==0,[20,24,26,30,44,56,78])
print(list(b))

[True, True, True, True, True, True, True]

In [19]:
# filter function

a=filter(lambda x:x%2==0,[1,2,3,4,5,6,7,8,9,10])
print(list(a))

[2, 4, 6, 8, 10]

In [20]:
# even numbers in filter

x=filter(lambda x:x%2==0,[22,45,7,89,100,42,24])
print(list(x))

[22, 100, 42, 24]

In [22]:
# odd numbers filter functions

x=filter(lambda x:x%2!=0,[22,45,7,89,100,42,24])
print(list(x))

[45, 7, 89]

In [24]:
from functools import reduce

In [25]:
# reuce functions
reduce(lambda x , y : x + y , [11,12,13,14])

50

In [26]:
# Filter with Map

a=filter(lambda x:x%2==0,map(lambda x:x+2,[10,22,12,14,16,17,18]))
print(list(a))

[12, 24, 14, 16, 18, 20]

In [27]:
# map with filter

a=map(lambda x:x+2,filter(lambda x:x%2==0,[1,2,3,4,5,6,7,8,9,10]))
print(list(a))

[4, 6, 8, 10, 12]

In [28]:
# reduce with map and filter:

sol = reduce(lambda x , y : x + y , map(lambda x : x + 20 , filter(lambda x : x%2==0 , [10,11,12,13,14,15])))
print(sol)

96